<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NOTE: "Domain" only needed for on-prem, leaving blank will trigger SP Online auth-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CI.Intranet.Deployment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- TERM STORE NAME-->
    <add key="StoreName" value="Managed Metadata Service" />
    
    <!-- Attributes for continous integration-->
    <add key="S-SharePointSiteUrl" value="" />
    <add key="S-SearchSiteUrl" value="" />
    <add key="S-Domain" value="" />
    <add key="S-UserName" value="" />
    <add key="S-Password" value="" />
    <add key="S-ProvisioningResourceFolder" value="" />
    <add key="S-ExportTemplateFolder" value="" />

    <!-- Attributes for production deployment-->
    <add key="P-SharePointSiteUrl" value="" />
    <add key="P-SearchSiteUrl" value="" />
    <add key="P-Domain" value="" />
    <add key="P-UserName" value="" />
    <add key="P-Password" value="" />
    <add key="P-ProvisioningResourceFolder" value="" />
    <add key="P-ExportTemplateFolder" value="" />    

    <!-- DEFAULT SETTINGS -->
    <add key="SharePointSiteUrl" value="" />
    <add key="Domain" value="" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="ProvisioningResourceFolder" value="" />
    <add key="ExportTemplateFolder" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>  
</configuration>